//基础变量
$primary-color:#52C750; //基础颜色
$primary-color-light:#8EDB8C; //基础颜色高亮
$error-color:#E34545;
$error-color-light:#FF9E9E;
$normal-color:#394043; //正常字体颜色
$normal-color-light:#556074; //正常字体颜色高亮
$normal-color-disabled:#BDBDBD; //正常字体颜色禁用
$memo-color:#BB844F;
$memo-color-light:#BABEC6;
$price-color:#FF7431; //价格字体颜色
$golden-color:#D5A733; //尊享权益联名卡颜色
$golden-color-light:#FFE2B9;
$bgcolor: #F2F4F5; //背景颜色
$bgwhitecolor: #fff; //背景颜色 --白色
$pageBgColor: #EFF1F3; //页面背景颜色
$input-border-color:#E9ECEE; //input边框颜色
$shadow-color: #F5F5F5; //阴影颜色
$close-color: #727D92; //关闭按钮颜色
$window-title-color: #E9ECEE; //弹窗title颜色
$title-bgColor: #F9F9F9; //字体背景图片
$primary-button-color-start:#63C227;
$primary-button-color-end:#17AE5D;
$second-button-color-start:#FF8D2B;
$second-button-color-end:#FF4944;
$content-gap: 16px; //内容两边间距
$font-hg:1.6rem;
$font-lg:1.5rem;
$font-md:1.4rem;
$font-sm:1.3rem;
$font-tn:1.2rem;
$pd-hg:20px;
$pd-lg:16px;
$pd-md:10px;
$pd-sm:6px;
$pd-tn:2px;